
.Header {
    float:left;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ToolbarVSeparator {
    margin-top: 1rem;
    padding: 0;
}

.MenuToggle_UserAccount_Toolbars {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

@media (max-width: 700px) {
    .MenuToggle_UserAccount_Toolbars {
        justify-content: space-between;
    }
}