
.Auth {
    display: flex;
    justify-content: center;
}

.AuthContent {
    background-color: #F8E8B7;
    padding: 0.5rem;
    min-width: 20rem;
    /* the z-index must be higher than the one of Backdrop (100)*/
    z-index: 200;
    position: absolute;
}
