.Button {
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    outline: none;
    font: inherit;
    padding: 0.5rem 1rem;
    margin: 0rem;
}

.FullWidth {
    width: 100%;
}

/* TODO
.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
*/

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    background-color: #6B2022;
}

.Danger {
    background-color: #D01B1F;
}