/*
How to keep your footer where it belongs:
https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*/
.Layout {
    position: relative;
    min-height: 100vh; /* 100% from view port */
  }

  .HeaderContainer {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin: auto;
  }

  .BodyContainer {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 14rem;    /* Footer height */
  }

  .FooterContainer {
    position: absolute;
    bottom: 0;
    height: 14rem;  /* Footer height. Must be the same with 'padding-bottom' from .PageContainer */
    width: 100%;
  }