.AlreadyLoggedInContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #F8E8B7;
    color: #6B2022;
    width: 100%;
    height: 100%;
}