.Button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    outline: none;
    font: inherit;
    padding: 0;
    margin: 0rem;
}


/* TODO
.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
*/

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #6B2022;
}

.Danger {
    color: #D01B1F;
}

.BoldStyle{
    font-weight: bold;
}