.Input {
    /* make sure that the div wraps the full width of the available space */
    width: 100%;
    /* automatically have some distance to any elements sitting above or beneath */
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    /* full width to take its own row */
    display: block;
    /* setting some margin to the bottom, to the input element */
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    /* 6px from top an bottom and 10px from left and right */
    padding: 6px 10px;
    /* take the full width it can take */
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #fda49a;
}

.ValidationError {
    color: red;
    margin: 5px 0;
}