
.Header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ToolbarVSeparator {
    margin-top: 1rem;
    padding: 0;
}

.MenuToggle_UserAccount_Toolbars {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.SmallScreenOnly {
    display: none;
}

.LargeScreenOnly {
    display: inline;
}

@media (max-width: 700px) {
    .SmallScreenOnly {
        display: inline;
    }

    .LargeScreenOnly {
        display: none;
    }

    .MenuToggle_UserAccount_Toolbars {
        justify-content: space-between;
    }
}