.Phone {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.ImgPhone {
    margin-right: 0.5rem;
    object-fit: none;
    object-position: 50% 50%;
}

.PhoneLabel {
    margin-right: 0.5rem;
    color: #6B2022;
    overflow: hidden;
    white-space: nowrap;
}

.PhoneNo {
    color: #6B2022;
    white-space: nowrap;
}

@media (max-width: 800px) {

}